---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2>
			<a href="/" style="display: flex; align-items: center; text-decoration: none; gap: 10px;">
				<img src="/logo.png" alt="Eco Living Journey Logo" style="height: 60px; width: auto;" />
				<span style="color: #2f855a; font-weight: 800;">Eco Living Journey</span>
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>

<style>
	header { margin: 0; padding: 0 1em; background: white; box-shadow: 0 2px 8px rgba(var(--black), 5%); }
	h2 { margin: 0; font-size: 1em; }
	nav { display: flex; align-items: center; justify-content: space-between; }
	.internal-links { display: flex; gap: 1em; }
	@media (max-width: 720px) {
		.internal-links { display: none; }
	}
</style>